<header>
    <div class="logo">
        <a href="/">
            <img src="/img/logo-PC-Components.png" alt="logo" class="cart-logo">
        </a>
        <img src="/img/Letras-Logo.png" alt="PC COMPONENTS">
    </div>

    <form action="#" method="POST" class="buscar">
        <div class="barra-busqueda">
            <input type="search" name="busqueda" placeholder="Buscar productos" class="campo-busqueda">
            <a href="#">
                <i class="fas fa-search" id="lupa"></i>
            </a>
        </div>
    </form>

    <% if (locals.isLogged) {%>
        <div class="icons">
            <div class="icon user">
                <a href="/users/profile/<%=locals.userLogged.id%>">
                    <i class="fas fa-user-edit"></i>
                </a>
            </div>
            <a href="/users/logout">
                <i class="fas fa-sign-out-alt icon"></i>
            </a>
            <% if (locals.userLogged.admin) { %>
                <div class="icon cart">
                    <a href="/users/admin/<%=locals.userLogged.id%>">
                        <i class="fas fa-user-cog"></i>
                    </a>
                </div>
                <% } %>
                    <div class="icon cart">
                        <a href="/products/cart">
                            <i class="fas fa-cart-plus"></i>
                        </a>
                    </div>
                    <div class="icon lupa">
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="icon menu-btn">
                        <i class="fas fa-bars"></i>
                    </div>
        </div>
        <div class="user-login">
            <p>
                Hola <%= locals.userLogged.name %>!
            </p>
            <img src="/img/users/<%=locals.userLogged.image%>" alt="" class="avatar">
        </div>
        <% } else {%>
            <div class="icons">
                <div class="icon user">
                    <a href="/users/register">
                        <i class="fas fa-user-circle"></i>
                    </a>
                </div>
                <div class="icon login">
                    <a href="/users/login">
                        <i class="fas fa-sign-in-alt"></i>
                    </a>
                </div>
                <div class="icon cart">
                    <a href="/products/cart">
                        <i class="fas fa-cart-plus"></i>
                    </a>
                </div>
                <div class="icon lupa">
                    <i class="fas fa-search"></i>
                </div>
                <div class="icon menu-btn">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
            <% } %>

                <nav class="barra-nav">
                    <ul class="menu">
                        <li class="menu-item"><a href="#">GamingPC</a></li>
                        <li class="menu-item"><a href="#">GamingLaptops</a></li>
                        <li class="menu-item"><a href="#">Components</a></li>
                        <li class="menu-item"><a href="#">Accesories</a></li>
                    </ul>
                </nav>
</header>