.text {
  font-family: sans-serif;
  margin: 0.3em 0;
  text-align: left;
  width: 100%;
}
.text-datos {
  font-weight: 200;
  font-size: 0.85rem;
}
.titulo {
  margin: 1rem 1.5rem;
  text-align: center;
}
.profile-photo-cont {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#text-foto-perfil {
  text-align: center;
  font-weight: 300;
  font-size: 0.85rem;
  margin-bottom: 1em;
}
.icon-login {
  width: 80%;
}
.botones {
  margin: 1.5rem auto;
}
.botones a {
  text-decoration: none;
  background-color: cadetblue;
  border-radius: 4px;
  padding: 0.8rem 1.2rem;
  font-weight: bold;
  font-size: 0.8rem;
}
.container {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  margin: 1em auto 0;
}
@media (min-width: 1100px) {
  main {
    display: flex;
  }
  .products-display {
    display: flex;
    flex-direction: column;
    margin: 0.8rem 0 0 0;
  }
  .product-preview {
    width: 95%;
    min-height: 800px;
  }
  .register {
    width: 90%;
  }
  .display-cart-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    padding: 5px 25px 5px 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
  }
  .display-cart-profile img {
    width: 100%;
  }
  .a-profile {
    width: 20%;
  }
  .cart-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-ir-carrito {
    margin: 20px auto 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .plus {
    width: 8rem;
    height: 3rem;
  }
}
