<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    
    <title>PC COMPONENTS</title>
</head>
<body>

    <header>
        <div class="logo">
            <img src="/img/logo-PC-Components.png" alt="logo">
            <img src="/img/Letras-Logo.png" alt="PC COMPONENTS">
        </div>

        <div class="icons"> 
            <div class="icon user">
                <i class="fas fa-user-circle"></i>
            </div>

            <div class="icon cart">
                <i class="fas fa-cart-plus"></i>
            </div>

            <div class="icon lupa">
                <i class="fas fa-search"></i>
            </div>

            <div class="icon menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </header>

    <main>
        <div class="banner">
            <h2>BANNER</h2>
        </div>

        <section class="products-display">
            <article class="product-preview">
                <div class="product-pic">

                </div>
                <div class="product-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>

            </article>
            <article class="product-preview">
                <div class="product-pic">

                </div>
                <div class="product-description">
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>

                </div>
            </article>
        </section>

        <section class="build">

            <div class="build-pic">

                <div class="build-desc">
                    
                    <div class="build-desc">
                        <h2>BUILD YOUR PC</h2>
                    </div>
                </div>
            </div>


        </section>

        <article class="icon llamar">
            <i class="fas fa-phone-alt"></i>
        </article>

    </main>

    <footer>
        <section class="contacto">
            <p>CONTACTO</p>
        </section>

        <section class="copyright">
            Copyright
        </section>

        <section class="redes">
            <p>Instagram</p>
            <p>Facebook</p>
            <p>Youtube</p>
        </section>
    </footer>
    
</body>
</html>