.botones {
  margin: 3em auto;
}
.botones a {
  text-decoration: none;
  background-color: cadetblue;
  border-radius: 4px;
  padding: 1em 2em;
  font-weight: bold;
}
.btn-container {
  display: flex;
  justify-content: space-around;
}
.titulo {
  margin: 1rem 1.5rem;
  text-align: center;
}
@media (min-width: 768px) {
  .botones a {
    padding: 1.5em 3em;
    font-size: 1.2rem;
  }
}
