.editForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .editTitle {
    margin: 20px auto;
    display: block;
    text-align: center;
  }


  .productName,
  .productDescription,
  .productPrice,
  .productCategory {
    width: 70%;
    display: block;
    position: relative;
  }

  input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    padding-left: 20px;
    border-radius: 4px;
    border: solid 1px black;
  }
  .productTopEspecs{
    display: flex;
    width: 70%;
  }
  .productTopEspecs input{
      width: 25%;
      margin: 10px 5px;
  }

  .productCategory{
      width: 50%;
      margin: 0 auto;
      text-align: center;
  }
  .categorySelect {
    width: 100%;
    margin: 10px;
  }
  .register i {
    font-size: 20px;
    color: rgb(99, 99, 99);
    position: absolute;
    top: 20px;
    left: 10px;
  }
  .recuerda {
    width: 70%;
  }
  .productImages{
    display: flex;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    transition: all 200ms;
  }
  .div-img{
    position: relative;
    margin: 5px 0;
    transition: all 30ms;
  }

  .div-img:hover {
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
  .productImages .img:hover .delete{
    opacity: 80%;
  }
  .productImages .img {
    width: 80%;
    margin: 5px;
  
  }
  .check {
    width: auto;
    padding: 0;
  }
  .products-display,
  .build,
  .banner {
    display: none;
  }
  .productSubmit {
    padding: 5px 10px;
    border-radius: 4px;
    margin: 15px 0;
    border: solid 1px black;
  }
  
  .icon-login {
    width: 10%;
    opacity: 0.2;
  }
  .icon-login img {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .register {
      width: 60%;
      margin: auto;
    }
  }
  