:root {
    --celeste: rgb(41, 190, 240);
    --azul: rgb(12, 62, 155);
  }

main{margin-top: 10px;}
.cart{
    display: flex;
    padding: 5px;
    margin-top: 10px;
}
.product-list{
    width: 80%;
}
.product{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid grey;
    border-radius: 10px;
    margin: 5px;
    align-items: center;
}
.product-image{
    width: 10%;
    padding: 5px;
    margin-top: 5px;
}
.product-name{
    padding: 10px;
    width: 60%;
    display: block;
}
.product-cost {
    padding: 10px;
    width: 20%;
    display: block;
}
.product-descript{
    display: block;
    padding: 10px;
    width: 75%;
}
.product-quantity {
    display: block;
    padding: 5px;
    width: 25%;
    max-width: 50px;
    max-height: 40px;
}
.product-additional{
    padding: 10px;
    width: 75%;
}
.product-del{
    padding: 5px;
    background-color: rgb(223, 42, 42);
    border-radius: 5px;
    font-size: 0.7em;
    border: none;
    color: white;
}
.product-price{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 5px 1px 70px 1px;
    border: 2px grey solid;
    border-radius: 10px;
    padding: 5px 0;
    text-align: center;
    min-width: 95px;
}
.product-price-cost{
    display: block;
    border-bottom: 1px solid grey;
    padding: 7px 0;
}
.product-detail-cost{
    border-bottom: 1px solid grey;
}
.product-subTotal,
.product-tax,
.product-shipping,
.product-discount {
    padding: 4px 0;
}
.product-total{
    padding: 8px;
}
.product-buy{
    padding: 5px;
    background-color: var(--celeste);
    border-radius: 10px;
    width: 90%;
    margin: 0 auto;
}
.emptyCart{
    height: 400px;
}