* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
}
:root {
  --celeste: rgb(73, 206, 250);
  --azul: rgb(12, 62, 155);
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5.5rem;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--celeste);
  z-index: 90;
}
.user-login {
  position: fixed;
  top: 15px;
  right: 20px;
  z-index: 1000;
  color: var(--azul);
  font-size: 0.9rem;
  letter-spacing: 1.2px;
}
.barra-nav {
  display: none;
}
main {
  padding-top: 5.5rem;
  padding-bottom: 1rem;
  max-width: 1200px;
  margin: auto;
  font-family: "Electrolize", sans-serif;
}
.logo img {
  width: 5rem;
}
.logo a {
  margin-left: 10px;
}
.buscar {
  display: none;
}
.cart-logo {
  height: 5rem;
  padding-top: 0.65rem;
}
.logo {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  background-color: white;
}
.icons {
  width: 40%;
  display: flex;
  justify-content: space-around;
}
.icon {
  font-size: 1.3rem;
  color: var(--azul);
  cursor: pointer;
}
.banner {
  width: 100%;
  margin: 10px 0;
}
.banner-pic {
  width: 100%;
}
.products-display {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0.8rem 0;
  flex-wrap: wrap;
}
.product-preview {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.5);
  margin: 5px 0;
}
.product-pic {
  max-width: 100%;
  height: 150px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
}
.product-pic img {
  max-width: 100%;
}
.product-description,
.build-desc {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  flex-grow: 1;
  flex-shrink: 1;
}
.product-description p {
  text-align: center;
}
.info-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--celeste);
  width: 6rem;
  height: 1.6rem;
  margin: 1rem 0;
  border-radius: 4px;
  text-decoration: none;
  transition: all 450ms;
}
.info-btn a {
  text-decoration: none;
  font-weight: 900;
  color: var(--azul);
}
.info-btn:hover {
  background-color: var(--azul);
}
.info-btn:hover a {
  color: var(--celeste);
}
.build-titulo {
  text-align: center;
  margin-bottom: 20px;
  justify-self: start;
  font-weight: 900;
  font-size: 2rem;
  line-height: 0.9;
}
.build {
  display: flex;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
}
.build-pic {
  width: 35%;
  background-color: var(--celeste);
  display: flex;
  justify-content: center;
  max-width: 300px;
  margin-left: 0.8rem;
}
.text-build-description {
  width: 25ch;
  text-align: left;
}
.llamar {
  display: inline-block;
  padding: 0.4rem;
  background-color: white;
  border: 3px solid var(--azul);
  border-radius: 50%;
  position: fixed;
  right: 1.25rem;
  bottom: 6rem;
  box-shadow: 0 0px 5px rgba(0, 0, 0, 0.6);
  z-index: 100;
  opacity: 0.7;
}
footer {
  background-color: white;
  width: 100%;
  height: 5.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.5);
}
.top-footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 10px;
}
.redes {
  display: flex;
  width: 30%;
  justify-content: space-between;
}
.logo-redes {
  width: 2rem;
  height: 2rem;
}
.contacto {
  width: 30%;
  display: flex;
  align-content: center;
  padding: 5px;
}
.contacto i {
  font-size: 1.8rem;
}
.contacto p {
  display: inline-block;
  padding: 5px;
}
.copyright {
  margin: 0;
  font-size: 0.75rem;
  align-self: center;
  padding-top: 15px;
}
p.inputError {
  font-size: 0.5rem;
  color: red;
}
@media (min-width: 768px) {
  html {
    font-size: 20px;
  }
  main {
    padding-top: 6.5rem;
  }
  .logo {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
  }
  header {
    height: 6.5rem;
  }
  .cart-logo {
    padding: 0;
    height: 100%;
  }
  .menu-btn {
    display: none;
  }
  .lupa {
    display: none;
  }
  .buscar {
    display: block;
    width: 50%;
  }
  .icons {
    width: 20%;
  }
  .campo-busqueda,
  #lupa {
    font-size: 1rem;
    padding: 0.5rem;
  }
  .campo-busqueda {
    position: relative;
    width: 100%;
    border-radius: 4px;
    border: none;
    background-color: whitesmoke;
    outline: none;
  }
  .icon:hover,
  .icon:focus {
    transform: scale(1.3);
  }
  .icon {
    transition: transform 250ms;
  }
  .campo-busqueda:hover,
  .campo-busqueda:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  }
  .barra-busqueda {
    position: relative;
    display: flex;
    align-items: center;
  }
  #lupa {
    position: absolute;
    display: inline-block;
    top: 0;
    right: 0;
    color: var(--celeste);
    margin: auto 0;
    padding-top: 0.6rem;
    background-color: whitesmoke;
  }
  .barra-nav {
    display: block;
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    width: 75%;
  }
  .menu {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  .menu-item a {
    text-decoration: none;
  }
  .banner {
    display: none;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 24px;
  }
}
