<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/styles-form.css">
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>

    <%- include('../partials/header')%>

    <main>
        <section>
            <h2>Carrito de Compras: </h2>
            <div class="cart">
                <div class="product-list">
                    <article class="product">
                        <img src="/img/i7-10700.webp" alt="imagen producto" class="product-image">
                        <h3 class="product-name">Nombre</h3>
                        <h3 class="product-cost">Costo</h3>
                        <p class="product-descript">Descripcion</p>
                        <select class="product-quantity" name="product-quantity" id="product-quantity">
                            <option value="1" class="product-quantity-value">1</option>
                            <option value="2" class="product-quantity-value">2</option>
                            <option value="3" class="product-quantity-value">3</option>
                            <option value="4" class="product-quantity-value">4</option>
                            <option value="5" class="product-quantity-value">5</option>
                            <option value="6" class="product-quantity-value">6</option>
                            <option value="7" class="product-quantity-value">7</option>
                            <option value="8" class="product-quantity-value">8</option>
                        </select>
                        <div class="product-additional">
                            <input type="checkbox" name="aditional" id="aditional">
                            <label for="aditional">Adicional 1</label>
                        </div>
                        <button type="submit" class="product-del">Eliminar</button>
                    </article>
                    <article class="product">
                        <img src="/img/i7-10700.webp" alt="imagen producto" class="product-image">
                        <h3 class="product-name">Nombre</h3>
                        <h3 class="product-cost">Costo</h3>
                        <p class="product-descript">Descripcion</p>
                        <select class="product-quantity" name="product-quantity" id="product-quantity">
                            <option value="1" class="product-quantity-value">1</option>
                            <option value="2" class="product-quantity-value">2</option>
                            <option value="3" class="product-quantity-value">3</option>
                            <option value="4" class="product-quantity-value">4</option>
                            <option value="5" class="product-quantity-value">5</option>
                            <option value="6" class="product-quantity-value">6</option>
                            <option value="7" class="product-quantity-value">7</option>
                            <option value="8" class="product-quantity-value">8</option>
                        </select>
                        <div class="product-additional">
                            <input type="checkbox" name="aditional" id="aditional">
                            <label for="aditional">Adicional 1</label>
                        </div>
                        <button type="submit" class="product-del">Eliminar</button>
                    </article>
                </div>
                <div class="product-price">
                    <h3 class="product-price-cost">Valor</h3>
                    <div class="product-detail-cost">
                        <h4 class="product-subTotal">Subtotal</h4>
                        <h4 class="product-tax">Impuestos</h4>
                        <h4 class="product-shipping">Envio</h4>
                    </div>
                    <div class="product-cost-total">
                        <h4 class="product-discount">Descuentos</h4>
                        <h4 class="product-total">TOTAL</h4>
                    </div>
                    <button type="submit" class="product-buy">Comprar</button>
                </div>
            </div>
        </section>
    </main>
    
    <%- include('../partials/footer')%>
    
</body>
</html>