<footer>
    <div class="top-footer">
        <section class="icon contacto">
            <a href="mailto:info@pc_components.com.ar" style="text-decoration: none;">
                <i class="fas fa-envelope"></i>
                <p>Contacto</p>
            </a>
        </section>
        <section class="redes">
            <img src="/img/logo-instagram.png" alt="logo instagram" class="logo-redes">
            <img src="/img/logo-twitter.png" alt="logo twitter" class="logo-redes twitter">
            <img src="/img/logo-facebook-f.png" alt="logo facebook" class="logo-redes">
        </section>
    </div>
    <section class="copyright">
        <p>Copyright 2021. Derechos Reservados.</p>
    </section>
</footer>