<!DOCTYPE html>
<html lang="es">
<head>
    <%- include('../partials/head')%>
    <link rel="stylesheet" href="/css/productEdit.css">
</head>
<body>
    <header>
        <%- include('../partials/header') %> 
    </header>

    <main>
        <h2 class="editTitle">Editar Producto</h2>
        <form class="editForm" action="/product/edit" method="POST" enctype="multipart/form-data">
            <div class="productName">
                <input type="text" name="productName" id="productName" required placeholder="Nombre de Producto">
            </div>
            <div class="productTopEspecs">
                <input type="text" name="productTopEspec1" id="productTopEspec1" placeholder="Principal característica">
                <input type="text" name="productTopEspec2" id="productTopEspec2" placeholder="Principal característica">
                <input type="text" name="productTopEspec3" id="productTopEspec3" placeholder="Principal característica">
                <input type="text" name="productTopEspec4" id="productTopEspec4" placeholder="Principal característica">
            </div>
            <div class="productDescription">
                <input type="text" name="productDescription" id="productDescription" required placeholder="Descripción ampliada">
            </div>
            <div class="productImg">
                <span>Imágenes<input type="file" name="productImg" id="productImg" multiple required></span>
            </div>
            <div class="productCategory">
                <select name="productCategory" id="productCategory" required class="categorySelect">
                    <option value="" disabled selected hidden>Categoria</option>
                    <option value="cpu">Procesadores</option>
                    <option value="motherboards">Motherboards</option>
                    <option value="memories">Memorias</option>
                    <option value="storage">Almacenamiento</option>
                </select>
            </div>
            <div class="productPrice">
                <input type="number" name="productPrice" id="productPrice" placeholder="Precio" required>
            </div>
            <button type="submit" class="productSubmit">Crear</button>
        </form>
    </main>

    <%- include('../partials/footer')%>

</body>
</html>